term 02/python_stack/game/__pycache__/*
term 02/python_stack/game/__pycache__/*.pyc

term 02/python_stack/game/__pycache__/map.cpython-312.pyc
term 02/python_stack/game/__pycache__/utils.cpython-312.pyc
term 02/python_stack/game/__pycache__/map.cpython-312.pyc
term 02/python_stack/game/__pycache__/utils.cpython-312.pyc
term 02/python_stack/game/level.json
.vs